# Build directories
build/
bin/
# lib/ never ignore because all bundle have lib implementation
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Qt
*.autosave
*.pro.user
*.pro.user.*
*.qbs.user
*.qmlproject.user

# Logs / Runtime
*.log
*.tmp
*.swp
*.bak
*.dSYM/
*.DS_Store

# Archives / Backups
*.zip
*.tar
*.tar.gz
*.tgz

# Visual Studio Code
.vscode/

# QtCreator
*.creator.user*
*.creator*

# Backup files
*~
\#*\#

# Compilation intermediates
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exe
*.out

# PlugFrame Applications are sub repositories
applications/OpLink

# Python cache
__pycache__

# Divers
._cp_meta_inf_unix
